
<ion-content>

  <div class="login-header-wrapper">
    <ion-grid>
      <ion-row class="mt-5">
        <ion-col size="4">
          <ion-icon (click)="back()" class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="8" class="text-right mt-3">
          <small>forgot your password?</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-content-wrapper">
    <ion-grid class="login-content-outer">
      <form [formGroup]="loginForm">
        <ion-row>
          <ion-col size="12" >
            <h1>Welcome Back!</h1>
            <p>Login to your account</p>
          </ion-col>
          <ion-col size="12" class="text-center" style="display: flex; justify-content: center;">
            <ion-avatar >
            <img alt="Silhouette of a person's head" src="assets/img/female-avatar.png" />
          </ion-avatar>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-input placeholder="user name or email" formControlName="email"></ion-input>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-input placeholder="password" formControlName="password"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-button [disabled]="loginForm.invalid" (click)="submitLogin()" expand="block">Login</ion-button>
          </ion-col>
        </ion-row>
      </form>
      
    </ion-grid>
  </div>

</ion-content>
