
<ion-content>

  <div class="login-header-wrapper">
    <ion-grid>
      <ion-row class="mt-5">
        <ion-col size="3">
          <ion-icon (click)="back()" class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="6" class="text-right">
          <img class="img-fluid" src="assets/img/logo.png" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-content-wrapper">
    <ion-grid class="login-content-outer">
      <form >
        <ion-row>
          <ion-col size="12"  >
            <h1>Change Your Password!</h1>
            <p>Choose good Password this Time</p>
          </ion-col>
          <!-- <ion-col size="12" class="text-center" style="display: flex; justify-content: center;">
            <ion-avatar >
            <img alt="Silhouette of a person's head" src="https://img.freepik.com/free-photo/smiling-businessman-face-portrait-wearing-suit_53876-148138.jpg?w=740&t=st=1677851030~exp=1677851630~hmac=d025d4ec62efb91e0645d0b5ef42a34c22df7e99c05677960f3c08bb3bcced52" />
          </ion-avatar>
          </ion-col> -->
          <ion-col size="12" class="mb-3 text-center" *ngIf="userData">
           <p><ion-icon name="radio-button-on-sharp"></ion-icon> +971*******37
             </p>
             <small>otp would send on this number</small>
          </ion-col>

          <ion-col size="12" class="mb-3" *ngIf="!userData">
            <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
             [ngClass]="{'horizontal-shake': emailError}"
            placeholder="Write Registered Email" >
            <ion-icon class="input-icon" name="mail-outline"></ion-icon>
            </ion-input>
           </ion-col>

           <!-- <ion-col size="12" *ngIf="!codeVerified && !userData">
            <ion-button [ngClass]="{'horizontal-shake': emailError}" 
            (click)="sendCode()" expand="block">Send Code
            <ion-spinner *ngIf="emailSpinner" class="button-icon" name="crescent"></ion-spinner>
            <ion-icon *ngIf="!emailSpinner" class="button-icon" name="send"></ion-icon></ion-button>
          </ion-col> -->

          <ion-col size="12" class="mb-3" *ngIf="codeSent">
            <ion-input [ngClass]="{'horizontal-shake': verifyError}"
             (ionChange)="codeVerify($event)"  placeholder="otp Code" >
              <ion-spinner *ngIf="verifySpinner" class="button-icon" name="crescent"></ion-spinner>
            </ion-input>
          </ion-col>

          <ion-col size="12" *ngIf="!codeVerified ">
            <ion-button [ngClass]="{'horizontal-shake': otpError}" 
            (click)="sendCode()" expand="block">Send Code
            <ion-spinner *ngIf="otpSpinner" class="button-icon" name="crescent"></ion-spinner>
            <ion-icon *ngIf="!otpSpinner" class="button-icon" name="send"></ion-icon></ion-button>
          </ion-col>

          <ion-col size="12" class="mb-3" *ngIf="codeVerified">
            <ion-input [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
             maxlength="8" type="password" placeholder="password" >
             <ion-icon class="input-icon" name="key-outline"></ion-icon></ion-input>
          </ion-col>
          <ion-col size="12" class="mb-3" *ngIf="codeVerified">
            <ion-input [(ngModel)]="c_password" [ngModelOptions]="{standalone: true}"
             maxlength="8" type="password" placeholder="confirm password" >
             <ion-icon class="input-icon" name="key-outline"></ion-icon></ion-input>
          </ion-col>
          
          <ion-col size="12" *ngIf="codeVerified">
            <ion-button  (click)="changePassword()" expand="block">Change Password
              <ion-icon *ngIf="!changePasswordSpinner" class="button-icon" name="send"></ion-icon>
              <ion-spinner *ngIf="changePasswordSpinner" class="button-icon" name="crescent"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      
    </ion-grid>
  </div>

</ion-content>
