
<ion-content>

  <div class="login-header-wrapper">
    <ion-grid>
      <ion-row class="mt-5">
        <ion-col size="4">
          <ion-icon (click)="back()" class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <!-- <ion-col size="8">
        <img src="assets/img/logo.png" alt="">
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-content-wrapper">
    <ion-grid class="login-content-outer">
      <ion-row>
        <h1>250 AED</h1>
        <ion-col size="12" class="text-center">
          <!-- <p class="day_buttons ">
            <ion-badge (click)="makeTrue(i)"
             *ngFor="let days of weekNameArray;index as i"
            [ngClass]="{'active' : days.active}">
             <p>{{days.dayName}}</p><p>17 June</p> </ion-badge>
          </p> -->
          <p>When You Want Our Service?</p>
          <ion-datetime-button class="mb-5" presentation="date-time" datetime="datetime"></ion-datetime-button>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime [preferWheel]="true" id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
          <small>we ensure you to done your job with full zeal and heast.
            we are the best in our work.i am the best what  i can do.</small>
        </ion-col>
        <ion-col size="12" class="text-center">
          <h6>upload a picture of work you want to done by us</h6>
        </ion-col>
        <ion-col size="12" class="mb-3 text-center upload-img-card-outer">
          <ion-card class="upload-img-card">
            <img src="assets/img/image-outline.svg" alt="">
          </ion-card>
        </ion-col>
        <ion-col size="12" class="mb-3 text-center">
          <p>Choose Payment Method</p>
        </ion-col>
        <ion-col size="12">
          <ion-button (click)="bookMe()" expand="block">Book Me</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
