
<ion-content>

  <div class="login-header-wrapper">
    <ion-grid>
      <ion-row class="mt-5">
        <ion-col size="4">
          <ion-icon (click)="back()" class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="8" class="text-left mt-3">
          <h1>250.00 AED</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-content-wrapper">
    <ion-grid class="login-content-outer">
      <ion-row>
        <ion-col size="12" >
          <h1>Adeel Sajjad.!</h1>
          <p>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            (445) jobs done
          </p>
          <small>I ensure you to done my job with full zeal and heast.i am the one man of my work.i am the best what  i can do.</small>
        </ion-col>
        <ion-col size="12" class="text-center">
          <small>upload a picture of work you want to done by me</small>
        </ion-col>
        <!-- <ion-col size="12" class="mb-3 text-center upload-img-card-outer">
          <ion-card class="upload-img-card">
          </ion-card>
        </ion-col> -->
        <ion-col size="12" class="mb-3">
        </ion-col>
        <ion-col size="12">
          <ion-button (click)="bookMe()" expand="block">Book Me</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
