
<ion-content  [fullscreen]="true">
<div class="landing-page-wrapper">
  <ion-grid>
    <ion-row class="landing-page-outer">
      <ion-col size="12" class="text-center">
        <img src="assets/img/main-bg.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="landing-page-inner">
    <ion-row class="mb-3">
      <ion-col (click)="goToLogin()" size="6" class="text-right">
        <ion-button expand="block">Login</ion-button>
      </ion-col>
      <ion-col (click)="goToSignUp()" size="6" class="text-left">
        <ion-button expand="block">Sign up</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="goToLandingPage()" expand="block">Continue as a Guest</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>


</ion-content>

<ion-footer>
 
</ion-footer>






