ion-content {
    --ion-background-color: #F9D942;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;

}
.landing-page-wrapper {
    background: linear-gradient(0deg, rgba(255,221,64, 0.3), rgba(255,238,80 , 0.5)),
     url(../../assets/img/main-bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
}


.landing-page-inner {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.landing-page-outer {
    position: fixed;
    // top: 20%;
    width: 100%;
}