
<ion-content  [fullscreen]="true">
<div class="landing-page-wrapper">
  <ion-grid>
    <ion-row class="landing-page-outer">
      <ion-col size="12" class="text-center">
        <img src="assets/img/logo.png" alt="">
        <!-- <small>Our App gives You Thousands Of Services Which You Can Book Only By One Click</small> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="landing-page-inner">
    <ion-row class="mb-3">
      <ion-col (click)="goToLogin()" size="6" class="text-right">
        <ion-button>Login</ion-button>
      </ion-col>
      <ion-col (click)="goToSignUp()" size="6" class="text-left">
        <ion-button>Sign up</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="goToLandingPage()" expand="block">continue as a guest</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>


</ion-content>

<ion-footer>
 
</ion-footer>






