<ion-app>

<ion-router-outlet>  </ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar mode="ios" slot="bottom" *ngIf="!isHideFooter">
      <ion-tab-button tab="landing-page">
        <img class="img-fluid" src="assets/img/Home.png" >
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button [@bounce]="state">
        <img class="img-fluid" src="assets/img/Cart.png" >
        <ion-label>Cart</ion-label>
      </ion-tab-button>
    

  
      <ion-tab-button (click)="navigate()" layout="icon-top">
        <img class="img-fluid" src="assets/img/Profile.png" >
        <ion-label>Profile</ion-label>
      </ion-tab-button>
   

  
    </ion-tab-bar>
    

  </ion-tabs>

  <!-- <ng-container *ngIf="!isKeyBoardOpen">
    <ion-fab [@bounce]="state" vertical="bottom" horizontal="center" slot="fixed" *ngIf="!isHideFooter">
      <ion-fab-button (click) = "setState()">
        <img src="assets/img/shopping-cart.png" *ngIf="cartEmpty">
        <img  src="assets/img/shopping-cart-full.png" *ngIf="!cartEmpty">
      </ion-fab-button>
    </ion-fab>
  </ng-container> -->
 
</ion-app>
