
<ion-content>

  <div class="login-header-wrapper">
    <ion-grid>
      <ion-row class="mt-5">
        <ion-col size="4">
          <ion-icon (click)="back()" class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="8" class="text-left mt-1">
          <img class="img-fluid" src="assets/img/logo.png" alt="" width="120px">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-content-wrapper">
    <ion-grid class="login-content-outer">
      <form >
        <ion-row>
          <ion-col size="12" >
            <h1>Guest Mode!</h1>
            <p>Fill this information for booking process</p>
          </ion-col>
       
          <ion-col size="12" class="mb-3">
            <ion-icon class="input-icon" name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" placeholder="First Name">
            </ion-input>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-icon class="input-icon" name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" placeholder="Last Name">
            </ion-input>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-icon class="input-icon"  name="mail-outline"></ion-icon>
            <ion-input  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email">
            </ion-input>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-label style="position: absolute;
            top: 24px;
            left: 20px"><small>+971</small></ion-label>
              <ion-input [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}"
              maxlength="14"
               type="tel" placeholder="">
              </ion-input>
          </ion-col>
       
          
          <ion-col size="12">
            <ion-button [ngClass]="{'horizontal-shake': error}"
             (click)="continueProcess()"
               expand="block">Continue Checkout Process
              <ion-spinner *ngIf="loginSpinner"
              class="button-icon" name="crescent"></ion-spinner>
               <ion-icon *ngIf="!loginSpinner" name="log-in"></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </form>
      
    </ion-grid>
  </div>

</ion-content>
