<ion-content>

  <div class="login-header-wrapper">
    <ion-grid>
      <ion-row class="mt-5">
        <ion-col size="3" class="mt-5">
          <ion-icon (click)="back()" class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="6" class="mt-5">
          <img src="assets/img/logo.png" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-content-wrapper">
    <ion-grid class="login-content-outer">
      <ion-row class="mb-3">
        <ion-col size="12" class="text-center">
          <h3>Pay For booking</h3>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">

          <ion-radio-group value="{{paymentMethod}}" (ionChange)="enablePaymentMethod($event)">
            <ion-row>
              <ion-col size="2" class="mt-3">
                <ion-radio value="apple_pay"></ion-radio><br/>
              </ion-col>
              <ion-col size="8" class="text-left">
                <p>Apple Pay</p>
              </ion-col>
              <ion-col size="2" class="text-left">
                <img src="assets/img/apple_pay.svg">
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="2" class="mt-3">
                <ion-radio value="c_card"></ion-radio><br/>
              </ion-col>
              <ion-col size="8" class="text-left">
                <p>Debit/Credit Card</p>
              </ion-col>
              <ion-col size="2" class="text-left" >
                <img style="width: 40px;" src="assets/img/card.svg">
                <!-- <ion-icon style="color: black;" name="card"></ion-icon> -->
              </ion-col>
            </ion-row>
  
           
         
          </ion-radio-group>
        </ion-col>
      

        <ion-col size="12"  *ngIf="paymentMethod == 'c_card' || paymentMethod == 'd_card'">
          <ion-icon class="input-icon" name="person-outline"></ion-icon>
          <ion-input 
          maxlength="22" [(ngModel)]="cardName" [ngModelOptions]="{standalone: true}"
          placeholder="Card Holder's Name">
          
         </ion-input>
        </ion-col>

        

        <ion-col size="12" class="mt-5 mb-5"
         *ngIf="paymentMethod == 'c_card' || paymentMethod == 'd_card'">
                 
          <ngx-stripe-card
          [options]="cardOptions"
          [elementsOptions]="elementsOptions"
        ></ngx-stripe-card>
          </ion-col>

        <ion-col size="12">
          <ion-button (click)="createToken()" [ngClass]="{'horizontal-shake': error}"
           expand="block">PayOut
           <ion-spinner *ngIf="paymentSpinner"
              class="button-icon" name="crescent"></ion-spinner>
           <ion-icon *ngIf="!paymentSpinner" slot="end" name="card"></ion-icon></ion-button>
        </ion-col>
      </ion-row>



    </ion-grid>
  </div>

</ion-content>