ion-content {
    --ion-background-color: #ffe400;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;

}



.login-content-wrapper {
    height: 100vh;
    background-color: #fff;
    // margin-top: 50px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.login-content-wrapper .login-content-outer {
    padding: 12px;
}


.day_buttons {
    display: flex;
    justify-content: space-around;
}

.time_buttons {
    display: flex;
    
}

.day_buttons .active {
    background-color: #ffe400 !important;
    color: #2D2B4E;
    border: 0.5px solid #2D2B4E;
}




ion-item-sliding {
    border-radius: 16px;
    margin-bottom: 22px;
}


ion-textarea.custom-textarea {
    border-radius: 18px;
    box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    padding: 12px;
    --placeholder-color: #212019;
    --placeholder-opacity: 0.8;
  }












