
<ion-content [fullscreen]="true">

  <ion-grid>
    <div class="header-wrapper">
      <ion-row>
        <ion-col size="4">
          <ion-avatar (click)="navigate()">
            <img alt="Silhouette of a person's head" src="assets/img/female-avatar.png" />
          </ion-avatar>
        </ion-col>
        <ion-col size="4" class="text-center">
          Logo
        </ion-col>
        <ion-col size="4" class="text-right">
          <ion-icon (click)="goToSettings()" class="icon-background" name="settings"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
   
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col size="12" class="search-wrapper">
        <ion-row>
          <ion-col size="3">
            <img src="assets/img/lamp-icon.png">
          </ion-col>
          <ion-col size="9">
            <ion-input placeholder="search"></ion-input>
          </ion-col>
      
        </ion-row>
      </ion-col>
    
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div class="services-wrapper">
      <ion-row>
        <ion-col size="12" class="text-center">
          <h5>offered services</h5>
        </ion-col>
        <ion-col size="6">
          <ion-card style="background: #F2B5BC;
          background-image: url(./assets/img/female-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">Plumber</ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card (click)="openServiceProviders()"
           style="background: #F9D942; background-image: url(./assets/img/male-avatar.png);
          background-size: cover;
          background-position: center;">
          <ion-badge class="service-badge">Plumber</ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card style="background: #F9D942; background-image: url(./assets/img/male-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">Plumber</ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card style="background: #F2B5BC; background-image: url(./assets/img/services-1.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">Plumber</ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card style="background: #F2B5BC; background-image: url(./assets/img/male-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">Plumber</ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card style="background: #F9D942; background-image: url(./assets/img/male-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">Plumber</ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
   
  </ion-grid>

</ion-content>