
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
    
  </ion-refresher>

  <ion-grid>
    <div class="header-wrapper">
      <ion-row>
        <ion-col size="3" >
          <!-- <span >A</span> -->
          <!-- <div (click)="navigate()" class="avatar">
            M
          </div> -->
          <ion-avatar (click)="navigate()" >
            <ion-icon class="icon-background" name="person"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="6" class="text-center">
          <img class="img-fluid" src="assets/img/logo.png" alt="">
        </ion-col>
        <ion-col size="3" class="text-right">
          <ion-icon (click)="goToSettings()" class="icon-background" name="notifications"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
   
  </ion-grid>


  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" class="search-wrapper">
        <ion-row>
          <ion-col size="3">
            <img src="assets/img/lamp-icon.png">
          </ion-col>
          <ion-col size="9">
            <ion-input (ionChange)="searchProduct($event)" [(ngModel)]="search" placeholder="search"></ion-input>
          </ion-col>
      
        </ion-row>
      </ion-col>
    
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <div class="services-wrapper">
      <ion-row>
        <ion-col size="12" class="text-center">
          <h5>Services</h5>
        </ion-col>
        <ion-col size="12" class="text-center" *ngIf="allCatArray.length == 0 ">
            <ion-spinner name="crescent"></ion-spinner>
        </ion-col>
        
        <ng-container *ngIf="allCatArray.length != '0'">
          <ion-col size="6"  *ngFor="let cat of allCatArray | filter : search">
            <ion-card (click)="goToNext(cat)" 
            [style.background-color]="cat.color" 
            style="background-image: url('https://backendtestingsetup.tech/public{{cat.image}}');background-size: cover;background-position: center;">
                      <ion-badge class="service-badge">{{cat.name}}</ion-badge>
            </ion-card>
          </ion-col>
        </ng-container>
       
        
      </ion-row>
    </div>
   
  </ion-grid>
 




 

</ion-content>