
<ion-content>

  <div class="login-header-wrapper">
    <ion-grid>
      <ion-row class="mt-5">
        <ion-col size="3">
          <ion-icon (click)="back()" class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="6" class="text-left">
          <img class="img-fluid" src="assets/img/logo.png" alt="">
        </ion-col>
        <ion-col size="3" class="text-right">
          <ion-icon (click)="logOut()" class="icon-background dark-b" name="log-out-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-content-wrapper">
    <ion-grid class="login-content-outer">
      <form>

       


        <ion-row >
          <ion-col size="12" >
            <h1>Update Profile!</h1>
            <!-- <p (click)="goToChangePassword()">Change Password?</p> -->
          </ion-col>

        
            <ion-col size="12" class="text-center" *ngIf="!userData">
              <ion-spinner name="crescent"></ion-spinner>
          </ion-col>
      

        <ng-container *ngIf="userData">
          <ion-col size="12" class="text-center" style="display: flex; justify-content: center;">
            <!-- <input type="file" (change)="check($event)"> -->
            <ion-icon type="file"
            (click)="presentAction($event)" class="icon-background" name="person"></ion-icon>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-input [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}"
             placeholder="First Name">
             <ion-icon class="input-icon" name="person-outline"></ion-icon></ion-input>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-input [(ngModel)]="lastName"
             [ngModelOptions]="{standalone: true}"
              placeholder="Last Name"><ion-icon class="input-icon" name="person-outline"></ion-icon></ion-input>
          </ion-col>
          <ion-col size="12" class="mb-3">
            <ion-input [(ngModel)]="email"
             [ngModelOptions]="{standalone: true}"
              placeholder="Email" readonly><ion-icon class="input-icon" name="mail-outline"></ion-icon></ion-input>
          </ion-col>
          <!-- <ion-col size="12" class="mb-3">
            <ion-select [(ngModel)]="gender" [ngModelOptions]="{standalone: true}" interface="popover" placeholder="gender">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
            </ion-select>
          </ion-col> -->
          <ion-col size="12" class="mb-3">
            <ion-input [(ngModel)]="phone"
             [ngModelOptions]="{standalone: true}"
              placeholder="phone number" readonly><ion-icon class="input-icon" name="call-outline"></ion-icon></ion-input>
          </ion-col>

          <ion-col size="12" class="mb-3">
            <ion-input [(ngModel)]="address"
             [ngModelOptions]="{standalone: true}"
              placeholder="Address"><ion-icon class="input-icon" name="location-outline"></ion-icon></ion-input>
          </ion-col>
          
          <ion-col size="12">
            <ion-button [ngClass]="{'horizontal-shake': error}"
              (click)="updateProfile()"  expand="block">Update
              <ion-icon *ngIf="!updateSpinner"  name="person-circle-outline"></ion-icon>
              <ion-spinner *ngIf="updateSpinner"
              class="button-icon" name="crescent"></ion-spinner>
            </ion-button>
          </ion-col>
        </ng-container>
        
        </ion-row>
      </form>
      
    </ion-grid>
  </div>

</ion-content>
