
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
    
  </ion-refresher>

  <ion-header class="header-wrapper">
    <ion-row>
      <ion-col size="3" class="text-center" >
        <img class="img-fluid" (click)="navigate()"
        src="assets/img/Home.png" alt="" style="width: 40px; height: 40px;">
          <!-- <ion-icon (click)="navigate()"  class="icon-background" name="person"></ion-icon> -->
      </ion-col>
      <ion-col size="6" class="text-center">
        <img class="img-fluid" src="assets/img/logo.png" alt="" width="120px">
      </ion-col>
      <ion-col size="3" class="text-center">
        <img class="img-fluid" (click)="goToSettings()"
         src="assets/img/Notifications.png" alt="" style="width: 40px; height: 40px;">

        <!-- <ion-icon (click)="goToSettings()" class="icon-background" name="notifications"></ion-icon> -->
      </ion-col>
    </ion-row>
  </ion-header>


  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" class="search-wrapper">
        <ion-row>
          <ion-col size="3">
            <img src="assets/img/lamp-icon.png">
          </ion-col>
          <ion-col size="9">
            <ion-input [(ngModel)]="search" placeholder="search"></ion-input>
          </ion-col>
      
        </ion-row>
      </ion-col>
    
    </ion-row>
  </ion-grid> -->


  <ion-grid style="height: 100%;">
    <div class="services-wrapper">
      <ion-row>
        <ion-col size="12"  class="text-center no-data-box mt-3">
            <p>No Notifications Available </p>
        </ion-col>      
      </ion-row>
    </div>
   
  </ion-grid>



  <ion-grid>
    <div class="services-wrapper">
      <ion-row>
        <!-- <ion-col size="12" class="text-center">
          <h5>Pick a service</h5>
        </ion-col> -->
        
        
        <!-- <ng-container *ngIf="productsArray.length != '0'">
          <ion-col size="6"  *ngFor="let prod of productsArray | filter : search">
            <ion-card (click)="goToBooking(prod)" [style.background-color]="prod.color"
             style="
            background-image: url('https://backendtestingsetup.tech/public{{prod.file_path}}');
            background-size: cover;
            background-position: center;">
                      <ion-badge class="service-badge">{{prod.name}}</ion-badge>
            </ion-card>
          </ion-col>
        </ng-container> -->
       
        
      </ion-row>
    </div>
   
  </ion-grid>
 




 

</ion-content>