<ion-content>
  <ion-grid>
    <div class="services-wrapper">
      <ion-row>
        <ion-col size="2">
          <ion-icon  class="icon-background dark-b" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="10" class="text-center">
          <h5>Manage your App </h5>
        </ion-col>

        <ion-col size="12">
          <ion-card style="background: #F2B5BC;
          background-image: url(./assets/img/female-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">
                      <p>order history</p>
                    </ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card style="background: #F2B5BC;
          background-image: url(./assets/img/female-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">
                      <p>order history</p>
                    </ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card style="background: #F2B5BC;
          background-image: url(./assets/img/female-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">
                      <p>order history</p>
                    </ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card style="background: #F2B5BC;
          background-image: url(./assets/img/female-avatar.png);
          background-size: cover;
          background-position: center;">
                    <ion-badge class="service-badge">
                      <p>order history</p>
                    </ion-badge>
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          </ion-card>
        </ion-col>
   
      
      
      </ion-row>
    </div>
   
  </ion-grid>
</ion-content>